#announcements{
    grid-column: 2 / 3;
}

#announcements ul{
    display: grid;
    list-style-type: none;
}

#cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2 / 5;
}

#content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / 3;
}

#header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#main{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

#nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / 3;
}

#nav-bar{
    grid-column: 2 / 3;
}

#nav-bar ul{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    list-style-type: none;
}

#profile{
    grid-column: 2 / 3;
}

#projects h1{
    grid-row: 1 / 2;
}

#search{
    grid-column: 1 / 2;
}

#sidebar{
    grid-row: 1 / 4;
}

#sidebar ul{
    list-style-type: none;
}

#trending{
    grid-column: 2 / 3;
}

#trending ul{
    display: grid;
    list-style-type: none;
}

#welcome{
    grid-column: 1 / 2;
}